.choice-container {
    display:flex;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 4px;
    background-color: indigo;
    font-size: 10px;
    min-width:80rem
}

.choice-container:hover {
    cursor:pointer;
    background-color:magenta;
    transition: transform 150ms;
}

.choice-prefix {
    padding: 20px 5px;
    color: white;
}

.choice-text {
    padding: 20px;
    width: 100%;
    color: white; 
}