
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.highscore {
    color: magenta;
    text-decoration:none;
    font-size: 20px;
}

#timer {
    float: right;
}

h1 {
    color: black;
    text-align:center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.flex-column {
    display:flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align:center;
}

.hidden{
    display: none;
}

.btn {
    text-align: center;
    background-color: indigo;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    width: 200px;
    margin: 10px;
    border-radius: 10px
}

.btn:hover {
    cursor:pointer;
    background-color: magenta;
    transition: transform 150ms;
}
